/* CSS Main Doc */

/* 
    CSS Guide

    1. General Styles
    2. 

*/

/* 1. --- General Styles --- */

body {
    font-family: 'Poppins' 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: white;
    color: #0b1e6e;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hidden { 
    display: none; 
}

p {
    text-align: left;
}