/* CSS Main Doc */

/* 
    CSS Guide

    1. General Styles
    2. Raspberry Icon Animation
    3. Orange Icon Animation
    4. Melon Icon Animation
    5. Lemon Icon Animation
    6. Blueberry Icon Animation
    7. Grape Icon Animation

*/

/* 1. --- General Styles --- */

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    background-color: white;
    color: #0b1e6e;
    margin: 0;
    padding: 0;
    text-align: center;
}

svg, .icons, .box {
    overflow: visible;
}

.hidden { 
    display: none; 
}

#hero p {
    text-align: left;
    padding: 0 25px 0 25px;
    font-size: 18px;
}

#logo {
    width: 400px;
    padding-top: 40px;
}

h3 {
    font-size: 24px;
    color: #0b1e6e;
    font-weight: bolder;
}

.icons {
    padding: 5px;
    margin: 10px;
}

/* 1. --- END General Styles --- */

/* 2. --- Raspberry Icon Animation --- */

#raspberry-leaf {
    transform-box: fill-box;
    transform-origin: center;
}

#raspberry-icon:hover #raspberry-leaf {
    animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
    0%  { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}

/* 2. --- END Raspberry Icon Animation --- */

/* 3. --- Orange Icon Animation --- */

#orange-main { 
    transition: all 0.5s ease; 
    transform-box: fill-box;
    transform-origin: center;
}

#orange-icon:hover #orange-main { 
    transform: rotate(360deg); 
}

/* 3. --- END Orange Icon Animation --- */

/* 4. --- Melon Icon Animation --- */

#melon-icon {
    fill: #febaed;
    transition: fill 5s ease-in-out;
}

#melon-icon:hover #melon-main { 
    fill: #fc66d6; 
}

/* 4. --- END Melon Icon Animation --- */

/* 4. --- Lemon Icon Animation --- */

#lemon-main {
    transform-box: fill-box;
    transform-origin: center;
}

#lemon-icon:hover #lemon-main {
    animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
    0%  { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    75% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}

/* 4. --- END Lemon Icon Animation --- */

/* 4. --- Blueberry Icon Animation --- */

#blueberry-main {
    transform-box: fill-box;
    transform-origin: center;
}

#blueberry-icon:hover #blueberry-main {
    animation: grow 0.5s ease-in-out;
}

@keyframes grow {
    0%  { transform: scale(1) }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

/* 4. --- END Blueberry Icon Animation --- */

/* 4. --- Grape Icon Animation --- */

#grape-main {
    transform-box: fill-box;
    transform-origin: center;
}

#grape-icon:hover #grape-leaf {
    animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
    0%  { transform: rotate(0deg); }
    25% { transform: rotate(8deg); }
    75% { transform: rotate(-8deg); }
    100% { transform: rotate(0deg); }
}

/* 4. --- END Grape Icon Animation --- */