/* CSS Main Doc */

/* 
    CSS Guide

    1. General Styles
    2. 

*/

/* 1. --- General Styles --- */

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    background-color: white;
    color: #0b1e6e;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hidden { 
    display: none; 
}

#hero p {
    text-align: left;
    padding: 0 25px 0 25px;
    font-size: 18px;
}

#logo {
    width: 400px;
    padding-top: 40px;
}

h3 {
    font-size: 24px;
    color: #0b1e6e;
    font-weight: bolder;
}